.pdp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.item-details,
.pdp-image {
    border: 2px solid red;
    padding: 40px;

    img {
        width: 300px;
        height: 300px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    width: 70%;
    gap: 10px;

    .item-details {
        h1 {
            border: 2px solid #333;
            font-family: 'Montserrat';
            margin-bottom: 20px;
            padding: 10px;
        }

        .btn-con {
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            .btn {
                height: 35px;
                cursor: pointer;
                font-weight: 600;
            }

            .buy-now {
                border: 1px solid #222;
                background-color: #77d4eb;
            }

            .add-to-cart {
                border: 1px solid #77d4eb;
            }

            .buy-now:hover {
                border: 1px solid #222;
                background-color: #268aa3;
                color: aliceblue;
            }

            .buy-now:active {
                border: 1px solid #222;
                background-color: #012129;
            }

            .add-to-cart:hover {
                border: 1px solid #77d4eb;
            }
        }

    }
}