
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    border-radius: 8px;
    width: 75%;
    border: 2px solid green;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: auto;
    max-height: 650px;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  
  .popup-header h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .popup-close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #888;
  }
  
  .popup-close-btn:hover {
    color: #333;
  }
  
  .popup-body {
    padding: 15px;
  }
  .edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 70%;
    margin-inline: auto;
    overflow-y: auto;

    input {
      width: 80%;
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 10px;
    }
  }
  .text-field {
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 250px;
    padding-inline: auto;
    margin-inline: auto;
    
    textarea {
      width: 90%;
      height: 100%;
      margin-inline: auto;
      display: block;
    }
  }