* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;

  /* Maintain scroll effect */
  /* Hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }

  &::-moz-scrollbar {
    display: none;
  }

  &::-ms-scrollbar {
    display: none;
  }

  &::-o-scrollbar {
    display: none;
  }

  #root {
    height: 100vh;
  }
}